{% extends 'base.html' %}{% load staticfiles %}

{% block title %}SIG Vilcabamba{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'sig_main_url' %}">
                    <img src="{% static 'img/logo.png' %}" /><strong>SIG Vilcabamba</strong>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mapas Base <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btn-source-bingmaps">Open Street Maps</a></li>
                            <li><a href="#" id="btn-source-bingmapsaerial">Bing Maps Aerial</a></li>
                            <li><a href="#" id="btn-source-xyz">Esri</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-offset"></div>
<div id="map"> </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    var src_base_openstretmaps = new ol.source.OSM();
    var src_base_bingmapsaerial = new ol.source.BingMaps({
                    key: 'Ah50MLZcGai9LY5lUAqrOLAMWNDLdp4xjdkNLJYACHuQtqvQ7osDRytwJXnkJDH3',
                    imagerySet: 'Aerial',
                    maxZoom: 30
                });
    var src_base_xyz = new ol.source.XYZ({
              url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                  'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
            });

    var baseLayer = new ol.layer.Tile();
    baseLayer.setSource(src_base_openstretmaps);


    var map = new ol.Map({
        target: 'map',

        controls: ol.control.defaults({
            attributionOptions: ({
                collapsible: true
            })
        }).extend([
            new ol.control.ScaleLine()
        ]).extend([
            new ol.control.OverviewMap({
                collapsed: false,
            })
        ]).extend([
            new ol.control.FullScreen()
        ]),

        layers: [
            baseLayer,
        ],

        view: new ol.View({
            center: [-8138700, -1475000],
            zoom: 10,
        })
    });

    map.addControl(new ol.control.ZoomSlider());


    /* events */
    $('#btn-source-bingmaps').click(function() {
        baseLayer.setSource(src_base_openstretmaps);
    });

    $('#btn-source-bingmapsaerial').click(function() {
        baseLayer.setSource(src_base_bingmapsaerial);
    });

    $('#btn-source-xyz').click(function() {
        baseLayer.setSource(src_base_xyz);
    });

</script>
{% endblock %}