{% extends 'base.html' %}{% load staticfiles %}

{% block title %}SIG Vilcabamba{% endblock %}

{% block content %}
<a  class="navbar-brand" href="{% url 'sig_main_url' %}">
    <img id="logo" src="{% static 'img/logo.png' %}" />
</a>
<div id="map"> </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    var strWMSVilca = 'http://sig.mdv.net:9182/cgi-bin/sig/qgis_mapserv.fcgi';

    var styl_sig_centropoblado_punto = function(feature) {
        return new ol.style.Style({
            image: new ol.style.Circle({
                fill: new ol.style.Fill({ color: [255,0,0,0.6] }),
                stroke: new ol.style.Stroke({ color: [0,0,0,1] }),
                radius: 5
            }),
            text: new ol.style.Text({
                textAlign: 'left',
                //textBaseline: baseline,
                font: 'normal 9px Trebuchet MS',
                text: feature.get('CP_NOMBRE'),
                fill: new ol.style.Fill({ color: [0,0,0,1] }),
                stroke: new ol.style.Stroke({ color: [255,255,255,1], width: 3 }),
                offsetX: 8,
                //offsetY: offsetY,
                //rotation: rotation
            })
        })
    };


    var sig_layers = [

        new ol.layer.Group({
            'title': 'Mapas base:',
            layers: [

                new ol.layer.Tile({
                    title: 'OpenStreetMap',
                    type: 'base',
                    visible: false,
                    source: new ol.source.OSM(),
                }),

                new ol.layer.Tile({
                    title: 'Esri Topo Map',
                    type: 'base',
                    visible: false,
                    source: new ol.source.XYZ({
                        url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                            'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
                    }),
                }),

                new ol.layer.Tile({
                    title: 'Sat Vilcabamba',
                    type: 'base',
                    visible: false,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'vilcabamba_mosaico', 'TILED': true }
                    }),
                }),

                new ol.layer.Tile({
                    title: 'BingMaps Aerial',
                    type: 'base',
                    visible: false,
                    source: new ol.source.BingMaps({
                        key: 'Ah50MLZcGai9LY5lUAqrOLAMWNDLdp4xjdkNLJYACHuQtqvQ7osDRytwJXnkJDH3',
                        imagerySet: 'Aerial',
                        maxZoom: 30
                    }),
                }),

                new ol.layer.Tile({
                    title: 'Esri World Imagery',
                    type: 'base',
                    visible: true,
                    source: new ol.source.XYZ({
                        url: 'https://services.arcgisonline.com/arcgis/rest/services/' +
                            'World_Imagery/MapServer/tile/{z}/{y}/{x}'
                    }),
                }),

            ]
        }),

        new ol.layer.Group({
            title: 'Topografía:',
            layers: [

                new ol.layer.Tile({
                    title: 'Curvas Nivel 25m',
                    name: 'sig_topografia_curvas25m',
                    description: 'sig_topografia_curvas25m',
                    visible: false,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'CURVAS_NIVEL_25m', 'TILED': true }
                    }),
                }),

                new ol.layer.Tile({
                    title: 'Cerros',
                    name: 'sig_topografia_cerros',
                    description: 'sig_topografia_cerros',
                    visible: false,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'CERROS', 'TILED': true }
                    }),
                }),

                    new ol.layer.Tile({
                    title: 'Cotas',
                    name: 'sig_topografia_cotas',
                    description: 'sig_topografia_cotas',
                    visible: false,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'COTAS', 'TILED': true }
                    }),
                }),

            ]
        }),


        new ol.layer.Group({
            title: 'Uso de Suelos:',
            layers: [

                new ol.layer.Tile({
                    title: 'Uso de Suelos',
                    name: 'sig_usosuelos_main',
                    description: 'sig_usosuelos_main',
                    visible: false,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'USO_ACTUAL_SUELOS', 'TILED': true }
                    }),
                }),

            ]
        }),


        new ol.layer.Group({
            title: 'Hidrología:',
            layers: [

                new ol.layer.Tile({
                    title: 'Rios',
                    name: 'sig_hidrologia_rios',
                    description: 'sig_hidrologia_rios',
                    visible: false,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'RIO_LINEA', 'TILED': true }
                    }),
                }),

            ]
        }),


        new ol.layer.Group({
            title: 'Centros Poblados:',
            layers: [

                new ol.layer.Vector({
                    title: 'Perimetros',
                    name: 'sig_centropoblado_perimetro',
                    description: 'sig_centropoblado_perimetro',
                    visible: true,
                    //minResolution: 0.001,
                    maxResolution: 20,
                    source: new ol.source.Vector({
                        format: new ol.format.GeoJSON(),
                        url: 'http://sig.mdv.net:9182/cgi-bin/sig/qgis_mapserv.fcgi?SERVICE=WFS&version=1.1.0&request=GetFeature&typename=sig_centropoblado_perimetro&outputFormat=GeoJSON&srsname=EPSG:32718'
                    }),
                }),

                new ol.layer.Vector({
                    title: 'Puntos',
                    name: 'sig_centropoblado_punto',
                    description: 'sig_centropoblado_punto',
                    visible: true,
                    //minResolution: 0.1,
                    maxResolution: 100,
                    source: new ol.source.Vector({
                        format: new ol.format.GeoJSON(),
                        url: 'http://sig.mdv.net:9182/cgi-bin/sig/qgis_mapserv.fcgi?SERVICE=WFS&version=1.1.0&request=GetFeature&typename=sig_centropoblado_punto&outputFormat=GeoJSON&srsname=EPSG:32718'
                    }),
                    style: styl_sig_centropoblado_punto,
                }),

            ]
        }),

        new ol.layer.Group({
            title: 'Limites INEI:',
            layers: [

                new ol.layer.Tile({
                    title: 'Distrito',
                    name: 'sig_limite_distrito',
                    description: 'sig_limite_distrito',
                    visible: true,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'sig_limite_distrito', 'TILED': true }
                    }),
                }),

                new ol.layer.Tile({
                    title: 'Provincia',
                    name: 'sig_limite_provincia',
                    description: 'sig_limite_provincia',
                    visible: true,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'sig_limite_provincia', 'TILED': true }
                    }),
                }),

                new ol.layer.Tile({
                    title: 'Departamento',
                    name: 'sig_limite_departamento',
                    description: 'sig_limite_departamento',
                    visible: true,
                    source: new ol.source.TileWMS({
                        url: strWMSVilca,
                        params: { 'LAYERS': 'sig_limite_departamento', 'TILED': true }
                    }),
                }),

            ]
        }),

    ];


    var map = new ol.Map({
        target: 'map',

        controls: ol.control.defaults({
            attributionOptions: ({
                collapsible: true
            })
        }).extend([
            new ol.control.ScaleLine()
        ]).extend([
            new ol.control.OverviewMap({
                collapsed: false,
            })
        ]).extend([
            new ol.control.FullScreen()
        ]),

        layers: sig_layers,

        view: new ol.View({
            center: [-8138700, -1475000],
            zoom: 11,
        })
    });

    map.addControl(new ol.control.ZoomSlider());

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Leyenda'
    });

    map.addControl(layerSwitcher);
    layerSwitcher.showPanel();
</script>
{% endblock %}