{% extends 'base.html' %}{% load staticfiles %}

{% block title %}SIG Vilcabamba{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'sig_main_url' %}">
                    <img src="{% static 'img/logo.png' %}" /><strong>SIG Vilcabamba</strong>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-offset"></div>
<div id="map"> </div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    var map = new ol.Map({
        target: 'map',

        controls: ol.control.defaults({
            attributionOptions: ({
                collapsible: true
            })
        }).extend([
            new ol.control.ScaleLine()
        ]).extend([
            new ol.control.OverviewMap({
                collapsed: false,
            })
        ]).extend([
            new ol.control.FullScreen()
        ]),

        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],

        view: new ol.View({
            center: [-8138700, -1475000],
            zoom: 10,
        })
    });

    map.addControl(new ol.control.ZoomSlider());

</script>
{% endblock %}