body {
    overflow: hidden;
}

#logo {
    position: absolute;
    z-index: 100;
    top: 7px;
    bottom: 0px;
    left: 45px;
    right: 0px;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#map .ol-zoom .ol-zoomslider {
    font-size: 1.2em;
}

#map {
    z-index: 35;
}

#map .ol-overviewmap  {
    margin-bottom: 25px;
}

#map .ol-compass {
    margin-top: 25px;
}

#map .map:-moz-full-screen {
    height: 100%;
}

#map .map:-webkit-full-screen {
    height: 100%;
}

#map .map:-ms-fullscreen {
    height: 100%;
}

#map .map:fullscreen {
    height: 100%;
}

#map .ol-rotate {
    top: 3em;
}
