{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Recurso no encontrado{% endblock %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Recurso no encontrado!</strong>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <span class="glyphicon glyphicon-info-sign"></span> El recurso solicitado no existe, o no está disponible.
            <div class="text-right form-group">
                <div class="controls col-md-12 ">
                    <a href="{% url 'slink_crear_url' %}"><span class="glyphicon glyphicon-file"></span> Cortar URL</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
{% endblock %}