{% extends 'sig/client/base.html' %}{% load staticfiles %}

{% block title %}SIG Vilcabamba{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/ext/resources/css/ext-all-notheme.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'libs/ext/resources/css/xtheme-gray.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'libs/ext/ux/css/ux-all.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/TriStateTreeAndCheckbox.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ThemeSwitcherDataView.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/layerOrderTab.css' %}" />

<style type="text/css">
    #dpiDetection {
        height: 1in;
        left: -100%;
        position: absolute;
        top: -100%;
        width: 1in;
    }
</style>
{% endblock %}

{% block content %}
    <div id="dpiDetection"></div>

    <script type="text/javascript">
        var SIG_USERNAME = "{{ user.get_username }}";
        var SIG_AUTH_LOGOUT_URL = "{% url 'autenticacion_logout' %}";
    </script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'libs/ext/adapter/ext/ext-base-debug.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/ext/ext-all-debug-w-comments.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/ext/ux/ux-all.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/proj4js/proj4js-compressed.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/openlayers/OpenLayers.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/geoext/script/GeoExt.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/Translations.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GlobalOptions.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/Customizations.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GISProjectListing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GetUrlParams.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TriStateTree.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/QGISExtensions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GeoNamesSearchCombo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/FeatureInfoDisplay.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/LegendAndMetadataDisplay.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/WebgisInit.js' %}"></script>
{% endblock %}