{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block title %}Cambiar contraseña{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_tab='autenticacion_password_change' %}
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3 padding-auth-form">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-key" aria-hidden="true"></i> Cambiar contraseña
            </h3>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}

                <fieldset>
                    {{ form|crispy }}
                </fieldset>

                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Cambiar contraseña</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}